// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "name": "cobblemon",
  "fields": {
    "pokemon_display_scale": {
      "value": "1.81",
      "type": "FloatField"
    },
    "show_pokemon": {
      "value": "true",
      "type": "BooleanField"
    }
  },
  "configVersion": "6.0.0-beta.83"
}