// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "name": "seasonhud",
  "fields": {
    "addadditional": {
      "value": "true",
      "type": "BooleanField"
    },
    "position": {
      "value": "Bottom",
      "type": "EnumField"
    }
  },
  "configVersion": "6.0.0-beta.83"
}