#Mob Capture Card Rarity Configuration
#
# This configuration file allows you to define the rarity for the Mob Capture Cards.
#
# The format is as follows:
# - <entity_name> = Rarity
#
# Example:
# - minecraft:zombie = RARE
#
# Supported rarities are:
#  - RARE
#  - COMMON
#  - EPIC
#  - EPIC
#Thu Apr 24 01:06:23 CEST 2025
minecraft\:bat=RARE
minecraft\:blaze=EPIC
minecraft\:cat=RARE
minecraft\:cave_spider=RARE
minecraft\:chicken=UNCOMMON
minecraft\:cow=COMMON
minecraft\:creeper=RARE
minecraft\:drowned=RARE
minecraft\:elder_guardian=EPIC
minecraft\:ender_dragon=EPIC
minecraft\:enderman=COMMON
minecraft\:evoker=COMMON
minecraft\:fox=COMMON
minecraft\:ghast=EPIC
minecraft\:guardian=EPIC
minecraft\:horse=RARE
minecraft\:husk=COMMON
minecraft\:illusioner=EPIC
minecraft\:llama=COMMON
minecraft\:magma_cube=EPIC
minecraft\:panda=COMMON
minecraft\:phantom=EPIC
minecraft\:pig=UNCOMMON
minecraft\:piglin_brute=EPIC
minecraft\:pillager=RARE
minecraft\:polar_bear=COMMON
minecraft\:ravager=EPIC
minecraft\:sheep=COMMON
minecraft\:shulker=EPIC
minecraft\:skeleton=RARE
minecraft\:slime=RARE
minecraft\:spider=RARE
minecraft\:squid=RARE
minecraft\:stray=RARE
minecraft\:strider=EPIC
minecraft\:villager=RARE
minecraft\:vindicator=EPIC
minecraft\:warden=EPIC
minecraft\:witch=RARE
minecraft\:wither=EPIC
minecraft\:wither_skeleton=EPIC
minecraft\:wolf=RARE
minecraft\:zombie=RARE
minecraft\:zombified_piglin=RARE
minecraft\:zombified_villager=RARE
cobblemon\:pokemon=EPIC
