#Mob Capture Card Configuration
#
# This configuration file allows you to define the general settings for the Mob Capture Cards.
#
# Allow and Deny list
# -------------------
# If you want to allow or deny specific mobs, you can use the allow and deny list.
# Keep in mind that if you add a mob to the allow list, all other mobs will be denied by default.
# There are two separate lists for kill and fishing drops.
#
#  Example for allow only specific mobs:
#    mobCaptureCardKillDropAllowList=minecraft:zombie,minecraft:skeleton
#    mobCaptureCardKillDropDenyList=
#    mobCaptureCardFishingDropAllowList=minecraft:cod,minecraft:salmon
#    mobCaptureCardFishingDropDenyList=
#
#  Example for deny specific mobs:
#    mobCaptureCardKillDropAllowList=
#    mobCaptureCardKillDropDenyList=minecraft:ender_dragon,minecraft:wither
#    mobCaptureCardFishingDropAllowList=
#    mobCaptureCardFishingDropDenyList=minecraft:squid,minecraft:turtle
#Thu Apr 24 01:06:23 CEST 2025
dropMobCaptureCardOnFishing=true
dropMobCaptureCardOnKill=true
mobCaptureCardFishingDropAllowList=
mobCaptureCardFishingDropChance=0.015
mobCaptureCardFishingDropDenyList=
mobCaptureCardFoilDropChance=0.01
mobCaptureCardKillDropAllowList=
mobCaptureCardKillDropChance=0.01
mobCaptureCardKillDropDenyList=
requirePlayerKill=true
mobCaptureCardKillDropDenyList =cobblemon:pokemon, minecraft:ender_dragon, minecraft:wither
mobCaptureCardFishingDropDenyList =cobblemon:pokemon, minecraft:ender_dragon, minecraft:wither