#Requires Animation Tick Configuration
#
# This configuration file lists the known entities which requires an animation tick.
#
#  The format is as follows:
#  - <entity_name> : <true|false>
#Thu Apr 24 01:06:44 CEST 2025
iceandfire\:fire_dragon=true
iceandfire\:ice_dragon=true
iceandfire\:lightning_dragon=true
